.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.text-wrapper {
  white-space: pre-wrap;
}

.sentence {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  font-weight: 600;
  font-size: 1.3em;
  font-family: "Noto Serif SC", serif;
}

html,
body {
  scroll-behavior: smooth;
}

.card-top-avatar {
  display: block !important;
  margin-top: -4em;
  margin-right: auto;
  margin-left: auto;

  img {
    transition: all 1.7s;
  }

  img:hover {
    transform: rotate(360deg);
  }
}

// 哀悼
html {
  -webkit-filter: grayscale(100%) !important;
  filter: gray !important;
}
